@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;500;600&display=swap');

:root{
    --blue-color :#00709a ;
    --blue-2-color : #c7ebff;
    --heading-color : #1a477f;
    --green-color : #00a0a9;
    --green-2-color : #cdfcff;
    --yellow-color : #ffb600;
    --yellow-2-color : #fff0d3;
    --red-color : #f26b55;
    --red-2-color : #ffcece;
    --superred-color : #93032E;
    --auperred-2-color : #ff999e;
    --background-color : #e3f0ff;
}

@media only screen and (max-width: 600px) {
    .col1 {
        width: 50% !important;
    }
    .col2 {
        width: 50% !important;
    }
    .col3 {
        width: 50% !important;
    }
    .col4{
        width: 50% !important;
    }
    .col5{
        width: 100% !important;
    }
    button {
        width: 90% !important;
    }
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
    transition: .2s;
}



.show{
    padding: 10px;
    background-color: #fff;
    display: none;
    max-width: 600px;

    width: 80vw;
    margin: 10px auto;
}

h1{
    font-weight: 500;
    color :var(--heading-color);
}

h2{
    font-weight: 500;
}

body{
    background-color: var(--background-color);
    display: flex;
    width: 100vw;
    
    justify-content: center;
    align-items: center;
}

.container{
    min-height: 100vh;
    width: 100vw;
}

.cal{
    padding: 10px 10px;

    justify-content: center;
    text-align: center;
    align-items: center;
   
}

.bmi{
    background-color: var(--heading-color);
    color: #fff;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
}

.col1,.col2,.col3,.col4,.col5{
    text-align: center;
}

.for{
    width: 100%;
    padding: 10px;
    text-align: center;
}

.col1 {
    width: 50%;
    padding: 10px;
    background-color: var(--green-color);
    color: var(--green-2-color);
}
.col2 {
    width: 50%;
    padding: 10px;
    background-color: var(--blue-color);
    color: var(--blue-2-color);
}
.col3 {
    width: 33.33%;
    padding: 10px;
    background-color: var(--yellow-color);
    color: var(--yellow-2-color);
}
.col4{
    width: 33.33%;
    padding: 10px;
    background-color: var(--red-color);
    color: var(--red-2-color);
}
.col5{
    width: 33.33%;
    padding: 10px;
    background-color: var(--superred-color);
    color: var(--auperred-2-color);
}
input {
    background-color: var(--red-2-color);
    border: 3px solid var(--red-color);
    color: var(--red-color);
    font-size: 20px;
    margin-left: 5px;
    margin-right:5px ;
    padding: 3px 20px;
    
    width: 300px;
    margin-top: 5px;
}
button:focus,input:focus{
    outline: none;
}
::placeholder{
    color: var(--pink-color);}

button{
    background-color: var(--red-color);
    border: 3px solid var(--red-color);
    color: var(--red-2-color);
    font-size: 20px;
    padding: 3px 20px;
    transition: .2s;
    min-width: 300;
    max-width:300px;
    margin-top:5px ;
}

button:hover{
    background-color: var(--red-2-color);
    border: 3px solid var(--red-color);
    color: var(--red-color);
}

.search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
   
}